node_modules
.output
.tanstack
.nitro
.vinxi
dist
.git
.lovable
uploads
*.log
.env
.env.*
!.env.example
private.key
*.pem
temp_cookies.txt
yt-dlp.exe
yt-dlp-master
dummy*.mp4
test_*
*.db
.vscode
.idea
